/* .Navbar{
    position: sticky;
} */
.mx-2{
    text-decoration: none;
    color: black;
    /* font-weight: normal; */
    /* transition: font-weight 0.2s ease-in-out; */
}
.mx-2:hover{
    text-decoration: none;
    font-weight: bold;

}
.fw-bold:hover{
    background-color: white;
}